In [1]:
import pandas as pd

## Loading all the data

In [2]:
X = pd.read_csv('train.csv', header = None, names = ['Rating', 'Title', 'Review'])
y = pd.read_csv('test.csv', header = None, names = ['Rating', 'Title', 'Review'])

In [3]:
amazon = pd.concat([X,y]).reset_index(drop = True)

There are 3+ million data with NA values

In [4]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650000 entries, 0 to 3649999
Data columns (total 3 columns):
Rating    int64
Title     object
Review    object
dtypes: int64(1), object(2)
memory usage: 83.5+ MB

In [5]:
amazon.isna().any()

Rating    False
Title      True
Review    False
dtype: bool

In [6]:
print('Banyak Row')
for i in range(1,6):
    print('Rating {} : {}'.format(i,len(amazon[(amazon['Rating'] == i)])))

Banyak Row
Rating 1 : 730000
Rating 2 : 730000
Rating 3 : 730000
Rating 4 : 730000
Rating 5 : 730000

In [7]:
print('Banyak NaN')
for i in range(1,6):
    print('Rating {} : {}'.format(i,len(amazon[(amazon['Rating'] == i) & (amazon['Title'].isna())])))

Banyak NaN
Rating 1 : 13
Rating 2 : 24
Rating 3 : 24
Rating 4 : 17
Rating 5 : 10

In [8]:
amazon[amazon['Title'].isna()].head()

        Rating Title                                             Review
22001        2   NaN  What separates this band from Evanescence (bes...
104196       4   NaN  I would highly recommend this book. It tells t...
124729       2   NaN  This Japanese band produces noisy, psychotic R...
144733       2   NaN  this cd isnt band but i wouldnt buy it because...
222764       3   NaN  value for the money. enjoyable, convenient, ea...

Not many NA compared to the size of the data, I assumes that the NAs is safe to be dropped

In [9]:
amazon.dropna(inplace = True)

As sample representation, I only took around 5 percent of the data

In [10]:
from sklearn.model_selection import train_test_split

data_dict = {}

In [11]:
for i in range(1,6):
    X_train, X_test, y_train, y_test = train_test_split(amazon[amazon['Rating'] == i].drop('Rating', axis =1), amazon[amazon['Rating'] == i]['Rating'], test_size = 0.05)
    data_dict[i] = pd.concat([X_test, y_test], axis = 1)

data = pd.concat([data_dict[1], data_dict[2], data_dict[3], data_dict[4], data_dict[5]])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182498 entries, 1685882 to 3034437
Data columns (total 3 columns):
Title     182498 non-null object
Review    182498 non-null object
Rating    182498 non-null int64
dtypes: int64(1), object(2)
memory usage: 5.6+ MB

In [14]:
for i in range(1,6):
    print(len(data[data['Rating'] == i]))

36500
36499
36499
36500
36500

In [15]:
data.to_csv('amazon_5_percent.csv', index = False)